<div class="container">
    <div class="info">
        <div class="clock">
            <h3>{{ date | date:'hh:mm a' }}<br>Goin' {{ direction }}!</h2>
        </div>
        <h4>Next scheduled:</h4>
        <div class="schedule" ng-repeat="arrival in arrivals">
            <p>{{ arrival.date }}</p>
        </div>
        <div class="alerts">
            <p>{{ detours }}</p>
        </div>
    </div>
    <div class="map">
        <leaflet center="center" height="100%" markers="markers" paths="paths"></leaflet>
    </div>
</div>