.info {
    width: 30%;
    float: left;
    margin-right: 5%;
}

.info h3, h4, p {
    text-align: center;
}

.schedule {
    border-bottom: 1px solid black;
}

.map {
    width: 65%;
    float: right;
}